[Unit]
Description=Keystone Discord Bot
StartLimitBurst=5
StartLimitIntervalSec=60

[Service]
Type=simple
WorkingDirectory=/opt/keystone
Environment="BOT_ENV=production"
ExecStart=/usr/bin/python3 -u keystone_bot.py
Restart=on-failure
SyslogIdentifier=keystone

[Install]
WantedBy=multi-user.target
